<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
    <!-- Patient Registraton-->
      <class name="OPD_Flow_wise.Login"/>
      <class name="OPD_Flow_wise.Patient_Registration"/>
      <class name="OPD_Flow_wise.Logout"/>

     <!-- <class name="OPD_Flow_wise.OPD_Phlebotomist"/>
      <class name="OPD_Flow_wise.Book_Appointment"/>
      <class name="OPD_Flow_wise.OPD_Lab_Technician"/>
      <class name="OPD_Flow_wise.OPD_Pathologist"/>
      <class name="OPD_Flow_wise.OPD_Pharmacy"/>
      <class name="OPD_Flow_wise.Login"/>
      <class name="OPD_Flow_wise.Logout"/>
      <class name="OPD_Flow_wise.OPD_EMR"/>
      <class name="OPD_Flow_wise.LAB_FO"/>
      <class name="OPD_Flow_wise.OPD_Lab"/> -->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
